.container{
    padding: 10px;
    margin: 0;
    min-height: 100vh;
}
.text{
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS';
    background-color: rgb(40, 6, 71);
    color: white;
    width: 500px;
    padding: 10px 50px ;
    display: block;
    margin: 10px auto;
    border-radius: 30px;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.task-container{
    display: block;
    width: 300px;
    font-size: 18px;
    border: none;
    padding:10px ;
    margin: 30px 10px;

}
.add-button{
    background-color: rgb(40, 6, 71);
    color: white;
    margin: 10px;
    padding: 13px;
    border-radius: 15px;
    width: 100px;
    margin: 20px auto;
}
.btn-container{
    display: flex;
    justify-content: space-evenly;
   
}
